* {
    margin: 0;
    box-sizing: border-box;
  }
  
  .header__left img {
    height: 40px;
  }
  .ongoing_links{
    cursor: pointer;
    text-decoration: none !important;
    margin-left: 20px;
    color: black;
    font-weight: 800;
  }
  .postss {
    background-color: rgba(8, 8, 197, 0.694);
    padding: 5px;
    color: white;
    border-radius: 5px;
  }
  .postss:hover {
    background-color: blue;
    transition: all;
  }
  .user__avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
  
  .header {
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 100;
    top: 0;
    box-shadow: 0 5px 8px -9px rgba(0, 0, 0, 0.75);
  }
  
  .header__left {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .header__input {
    display: flex;
    align-items: center;
    background-color: #eff2f5;
    padding: 10px;
    margin-left: 10px;
    border-radius: 999px;
  }
  
  .header__input input {
    border: none;
    background-color: transparent;
    outline-width: 0;
  }
  
  .header__middle {
    display: flex;
    flex: 1;
    justify-content: center;
  }
  
  .header__option .material-icons {
    font-size: xx-large;
    color: gray;
  }
  
  .header__option:hover .material-icons {
    color: #2e81f4;
  }
  
  .header__option {
    display: flex;
    align-items: center;
    padding: 0 30px;
    cursor: pointer;
  }
  
  .header__option.active .material-icons {
    color: #2e81f4;
  }
  
  .header__option.active {
    border-bottom: 4px solid #2e81f4;
  }
  
  .header__option:hover {
    background-color: #eff2f5;
    border-radius: 10px;
    align-items: center;
    padding: 0 30px;
    border-bottom: none;
  }
  
  .header__info {
    display: flex;
    align-items: center;
  }
  
  .header__info h4 {
    margin-left: 10px;
  }
  
  .header__right {
    display: flex;
    align-items: center;
  }
  
  .header__right .material-icons {
    color: gray;
    margin: 0 10px;
  }
  
  .header__right .material-icons:hover {
    cursor: pointer;
  }
  
  /* sidebar  */
  
  .sidebarRow {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
  }
  
  .sidebarRow:hover {
    background-color: lightgray;
    border-radius: 10px;
  }
  
  .sidebarRow h4 {
    margin-left: 20px;
    font-weight: 600;
  }
  
  .sidebarRow .material-icons {
    font-size: xx-large;
    color: #2e81f4;
  }
  .main__body {
    display: flex;
  }
  
  body {
    background-color: #f1f2f5;
  }
  
  .feed {
    flex: 1;
    padding: 30px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .sidebar {
    padding: 25px 10px;
    flex: 0.33;
  }
  
  /* message sender */
  .messageSender.empty {
    margin-top: -2rem;
  }
  
  .messageSender {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
    width: 100%;
  }
  
  .messageSender__top {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eff2f5;
    padding: 15px;
  }
  
  .messageSender__top form {
    flex: 1;
    display: flex;
  }
  
  .messageSender__top form input {
    flex: 1;
    outline-width: 0;
    border: none;
    padding: 8px 10px;
    margin: 0 15px;
    border-radius: 999px;
    background-color: #eff2f5;
  }
  
  .messageSender__bottom {
    display: flex;
    justify-content: space-evenly;
  }
  
  .messageSender__option {
    padding: 8px;
    display: flex;
    align-items: center;
    color: gray;
    margin: 5px;
  }
  
  .messageSender__option h3 {
    font-size: medium;
    margin-left: 10px;
  }
  
  .messageSender__option:hover {
    cursor: pointer;
    background-color: #eff2f5;
    border-radius: 20px;
  }
  
  /* post */
  
  .post {
    width: 100%;
    margin-top: 25px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
  }
  
  .post__image img {
    width: 98%;
    height: 30rem;
    margin-left: 2px;

  }
  
  .post__top {
    display: flex;
    position: relative;
    align-items: center;
    padding: 15px;
  }
  
  .post__avatar {
    margin-right: 10px;
  }
  
  .post__topInfo h3 {
    font-size: medium;
  }
  
  .post__topInfo p {
    font-size: small;
    color: gray;
  }
  
  .post__bottom {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px 25px;
  }
  
  .post__options {
    padding-top: 10px;
    border-top: 1px solid lightgray;
    display: flex;
    justify-content: space-evenly;
    font-size: medium;
    color: gray;
    cursor: pointer;
    padding: 10px;
  }
  
  .post__option {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    flex: 1;
  }
  
  .post__option p {
    margin-left: 10px;
  }
  
  .post__option:hover {
    background-color: #eff2f5;
    border-radius: 10px;
  }
  .comments-button{
    background-color: #2e81f4;
    color: white;
    padding: 6px;
    cursor: pointer;
    border: none;
    border-radius: 10px;

    margin-left: 3px;
  }
  .Comments-input{
    background-color: lightgray;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    border: none;
    height: 35px;
    padding: 6px;
  }
  .likesButton{
    text-decoration: none !important;
    width: 100%;
    background-color: transparent;
    padding: 10px;
    margin-left: 40%;
    color: black;
  }
 
  
  @media (max-width: 768px) {
    .sidebar {
      display: none;
    }
   
    .header__middle {
      display: none;
    }
    .header__option{
      font-size: 10px;
    }
    .header__info {
      display: none;
    }
  
    .widgets {
      display: none;
    }
    .feed {
      margin-top: 10px;
      width: 100%;
      padding: 0;
    }
  
  }
  .forget-password{
    padding: 5px;
    width: auto;
    height: 15px;
    text-decoration: none !important;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  @media (min-width: 769px) and (max-width: 1440px) {
    /* CSS To Target 767 px width of screen */
  
    .feed {
      width: 50%;
      padding: 10px 50px;
    }
  }
  @media screen and(max-width: 322px) {
    .post__options {
      display: block !important;
    }
  }
  
  /* Alert message */
  
.alert {
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
.imageUrl{
  display: none;
}
/* Style the custom file input button */
/* .custom-file-upload {
  
  margin-left: 10px;
  margin-top: 10px;
  display: inline-block;
  background-color: #008CBA;
  color: #012e89;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
} */

.fileLabel:hover {
  background-color: #01aeff;
}
/* #fileLabel {
  margin-left: 10px;
  margin-top: 10px;
  display: inline-block;
  display: inline-block;
  padding: 10px;
  background-color: #008CBA;
  color: #012e89;
  cursor: pointer;
  border-radius: 20px;
} */

#fileName {
  margin-top: 10px;
  margin-left: 40px;
  font-weight: bold;
  background-color: #ffffff;
  /* display: contents; */
}

#file-name {
  display: inline-block;
  margin-left: 10px;
  font-size: 14px;
  color: #000000;
  font-weight: bold;
}
.imageprofileheader{
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

