.containerr {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
 
  .form-containerr {
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 400px;
    width: 100%;
    background-color: rgb(37, 0, 76);
    box-shadow: 2px 1px 3px 0 white ;
  }
  .formm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  form input[type="text"],
  form input[type="email"],
  form input[type="password"],
  form button {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    font-size: 20px;
    border: none;
    border-radius: 3px;
    color: black;
    background-color: #ccc;
  }
  #button {
    background-color: #1877f2;
    color: #fff;
    cursor: pointer;
  }
  #button:hover {
    background-color: #006eff;
  }
  form a {
    color: #1877f2;
    text-decoration: none;
  }
  form a:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  .hide-password {
    -webkit-text-security: disc;
    -moz-text-security: disc;
  }

  .github-button{
    display: inline-block;
    background-color: #0158d3;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
#password-toggle{
  cursor: pointer;
  margin-right: 60%;
}
  .github-button:hover{
    background-color: #006aff;
    text-decoration: none;
  }
  hr{
    margin-bottom: 20px;
    margin-top: 10px;
  }

  @media  screen and (max-width: 700px){
    .containerr {
        width: 40rem;
        margin-top: 2rem;
    }
  }