<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- web title -->
    <title><%= title %> </title>
    <!-- local styles -->
    <%- style %>
    <!-- local layout css -->
    <link rel="stylesheet" href="/css_files/layout.css">
    <!-- for fontawesome -->
    <script src="https://kit.fontawesome.com/3b91611922.js" crossorigin="anonymous"></script>
    <!-- noty libraries -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  
</head>

<body>

    <!-- Web header part -->
    <header id="web-header">
        <%- include('_header'); %>
    </header>


    <!-- web main Body part -->
    <main> 
      <%- body %>
    </main>


    <!-- Web Footer Part -->
    <footer id="web-footer">
        <%- include('_footer'); %>
    </footer>

    <!-- web Scripts with notification messages-->
    <script>
        // For Success Messages
        <%if(flash.success && flash.success.length > 0){%>
          new Noty({
            theme:'nest',
            text: '<%= flash.success %> ',
            type:'success',
            layout:'topLeft',
            timeout:1500
          }).show();
        <%}%>
        // For Error Messages
        <%if(flash.error && flash.error.length > 0){%>
          new Noty({
            theme:'relax',
            text: '<%= flash.error %> ',
            type:'error',
            layout:'topRight',
            timeout:1500
          }).show();
        <%}%>
    </script>
    <!-- For Scripts -->
    <%- script %>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="/script_files/layout.js"></script>
</body>
</html>