<!-- reset password display -->
<title><%= title%></title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">

<!-- Alert messages -->
<% if (message) { %>
  <div id="alert-message" class="alert alert-<%= message.type %>">
    <%= message.text %>
  </div>
<% } %>
<!-- Alert messages end -->

<section class="hero is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-half">
            <div class="card">
              <div class="card-content">
                <h1 class="title is-3 has-text-centered">Reset Your Password</h1>
                <form method="POST" action="/auth/reset-password/<%= token %>" class="needs-validation">
                  <div class="field">
                    <label class="label">New Password</label>
                    <div class="control has-icons-left">
                      <input class="input" type="password" name="password" placeholder="Enter your new password" required>
                      <div class="invalid-feedback">
                        Please enter a valid Password.
                      </div>
                      <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                      </span>
                    </div>
                  </div>
                  <div class="field">
                    <label class="label">Confirm Password</label>
                    <div class="control has-icons-left">
                      <input class="input" type="password" name="confirm_password" placeholder="Confirm your new password" required>
                      <div class="invalid-feedback">
                        Please enter a valid Confirm Password.
                      </div>
                      <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                      </span>
                    </div>
                  </div>
                  <div class="field">
                    <div class="control">
                      <button class="button is-primary is-fullwidth">Reset Password</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script>
    // Hide alert message after 10 seconds
    setTimeout(function() {
      document.getElementById('alert-message').style.display = 'none';
    }, 10000);
  </script>
