<title> <% title %> </title>
<link rel="stylesheet" href="/css_files/home.css">
<div class="containerr">
    <div class="form-containerr">
        <% if (message) { %>
            <div id="alert-message" class="alert alert-<%= message.type %>">
              <%= message.text %>
            </div>
          <% } %>
        <form id="signup-form" class="formm " method="post" action="/user/create-user" >
            <h2>Sign Up</h2>
            <hr style="background-color: white; width: 100%;">
            <input type="text" id="name" name="name" placeholder="Name..." required>
            <input type="email"  id="email" name="email" placeholder="Email..." required>
            <input type="password" id="password" name="password" placeholder="Password..." required>
            <input type="password" id="confirm-password" name="confirm_password" placeholder="Confirm Password..." required>
            <span id="password-toggle" style="margin-top: 10px;"><i class="fa fa-eye"></i> Show Password </span>
            <button type="submit" id="button">Sign Up</button>Or
            <hr style="background-color: blue !important; width: 100%;">
            <a href="/user/auth/github" class="github-button">
                <span>
                    <i class="fa-brands fa-github fa-xl">
                    </i>
                    Sign In with Github
                </span>
            </a>
            <p>Already have an account? <a href="/user/sign-in" id="signin-link">Sign In</a></p>
        </form>
    </div>
</div>
<script src="/script_files/home.js"></script>
<script src="/script_files/validation.js"></script>
<script>
    // Hide alert message after 10 seconds
    setTimeout(function() {
      document.getElementById('alert-message').style.display = 'none';
    }, 10000);
  </script>