<title><%= title %></title>
<link rel="stylesheet" href="/css_files/home.css">

<div class="containerr">
    <div class="form-containerr">
        <form id="signin-form"  class="formm" method="POST" action="/user/login-user-session">
            <h2>Sign In</h2>
            <hr style="background-color: white; width: 100%;">
            <input type="email" name="email" placeholder="Email..." required>
            <input type="password" name="password" placeholder="Password..." required>
            <button type="submit" id="button">Sign In</button>
            <a href="/auth/show-forgot-password" class="forget-password" style="margin-right: 60%; color: white;">
                <span>
                    <i class="fa-solid fa-key fa-xl"></i>
                    forget Password
                </span>
            </a>
            Or
            <hr style="background-color: blue !important; width: 100%;">
            <a href="/user/auth/github" class="github-button">
                <span>
                    <i class="fa-brands fa-github fa-xl">
                    </i>
                    Sign In with Github
                </span>
            </a>
            <p>Don't have an account? <a href="/user/sign-up">Sign Up</a></p>
        </form>
    </div>
</div>